
.ipynb_checkpoints/linear_classification-checkpoint.ipynb
.ipynb_checkpoints/support_vector_machines-checkpoint.ipynb
.ipynb_checkpoints/text_classification_with_Naïve_Bayes-checkpoint.ipynb
.ipynb_checkpoints/decision_trees_Titanic_hypothesis-checkpoint.ipynb
.ipynb_checkpoints/random_forests-checkpoint.ipynb
.ipynb_checkpoints/predicting_house_prices_with_regression-checkpoint.ipynb
.ipynb_checkpoints/unsupervised_learning-checkpoint.ipynb
.ipynb_checkpoints/advanced _features-checkpoint.ipynb
.ipynb_checkpoints/advanced_features-checkpoint.ipynb
.ipynb_checkpoints/advanced_features-checkpoint.ipynb
